body {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
a {
  display: block;
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}
